.card.teal {
    padding: 0;
}

.card .col {
    padding: 0 4px;
}

.card .card-content {
    padding: 12px 1px;
}

.card .row {
    margin: 0;
}

.card .card-image img {
    width: 100%;
    padding: 12px 0;
}

.card .field-data {
    float: left;
    padding-left: 10px;
}

.card .fieldname {
    float: left;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    margin: 0;
}
