.filter-box .select-dropdown, #filter-box-criteria-input {
    color: #e0f2f1;
}

.filter-box .btn {
    padding: 0 10px;
}

.input-field {
    margin: 5px;
}

.input-field.col label {
    margin: 0 1px;
}

.App-header {
    top: 0;
    position: sticky;
}

.chip .filter-chip {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}
